@using BooksAPI.FE.Constants
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Family Budget Tracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                <span class="bi bi-card-checklist" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactionsSummary" Match="NavLinkMatch.All">
                <span class="bi bi-cart4" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recurringTransactions" Match="NavLinkMatch.All">
                <span class="bi bi-arrow-counterclockwise" aria-hidden="true"></span> Recurring transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="family" Match="NavLinkMatch.All">
                <span class="bi bi-house-heart" aria-hidden="true"></span> Family
            </NavLink>
        </div>

        <AuthorizeView Policy="@ApplicationConstants.PolicyNames.FamilyMemberPolicyName">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="familyCategories" Match="NavLinkMatch.All">
                    <span class="bi bi-clipboard2" aria-hidden="true"></span> Family category
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="familyTransactionsSummary" Match="NavLinkMatch.All">
                    <span class="bi bi-piggy-bank" aria-hidden="true"></span> Family transactions
                </NavLink>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistics" Match="NavLinkMatch.All">
                <span class="bi bi-bar-chart" aria-hidden="true"></span> Statistics
            </NavLink>
        </div>
        <AuthorizeView Policy="@ApplicationConstants.PolicyNames.AdminRolePolicyName">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register/admin" Match="NavLinkMatch.All">
                        <span class="bi bi-person-fill-add" aria-hidden="true"></span> Register new Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>
